.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #0b1e38;
}

.image-wrapper {
    box-shadow: 0 0 30px #255a9e60;
    overflow: hidden;
    max-width: 1000px;
    max-height: 563px;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
}
